<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: #d6d2cc;
        }

        #header {
            background-color: #F5F5F5;
            font-size: 30px;
        }

        a:link, a:visited {
            background-color: bisque;
            border: none;
            color: black;
            padding: 15px 32px;
            text-align: center;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
            display: inline-block;
        }

        a:hover, a:active {
            background-color: #6D0062;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 2px solid black;
            text-align: left;
        }

        tr:hover {
            background-color: #b495c9;
        }


        .icon {
            height: 15px;
            width: 15px;
            padding-top: 20px;
            padding-right: 5px;
        }

        #footer {
            background-color: #171717;
        }

            #footer > p {
                color: #F5F5F5;
            }

            #footer > a {
                color: #48A14D;
            }

        #companyName {
            float: right;
            right: 0;
            margin: 20px;
        }

        #menu {
            margin-top: 50px;
            padding: 50px;
            display: none;
            font-size: 15px;
            text-align: center;
        }

        #menuBtn {
            float: left;
            margin: 20px;
        }

        #UsefulLinksFooter {
            padding: 20px;
        }

        #documents {
            float: left;
            width: 40%;
            padding: 5%;
        }

        #detailsAndAccountSecurity {
            float: right;
            width: 40%;
            padding: 5%;
        }

        #documentsList {
            background: #FFFFFF;
            width: stretch;
        }

            #documentsList > p {
                padding: 10px;
            }


    </style>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>